
#table {
    margin: 0;
    padding: 0;
}

tbody {
    width: 100%;
    display: block;
}

#tableContainer {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    display: block;
}

tr {
    width: 100%;
}


td {
    font-family: sans-serif;
    text-align: center;
    font-size: medium;
    padding: 5px;
    color: #3d3d3d;
}


.dataRow {
    background-color: white;
    margin: 0;
    padding: 0;
}

.dataRow2 {
    background-color: #f1f2f6;
    margin: 0;
    padding: 0;
}

.dataRow3 {
    background-color: #f7f1e3;
    margin: 0;
    padding: 0;
}

th {
    color: #4b4b4b;
    /*color: #636e72;*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    width: 2%;
    height: 60px;

}

#searchButton {
    height: 40px;
    width: 40px;
    margin-left: 2px;
    color: black;
}

.tr-mouseover {
    background-color: antiquewhite;
}

.upAnddown {
    vertical-align: middle;
    margin: 0;
    padding: 5px;
}
