#list {
    width: 136px;
    height: 46px;
    color: #fdcb6e;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: large;
}

#table {
    margin: 0;
    padding: 0;
}

#tableContainer {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: none;
}

td {
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    color: #3d3d3d;
}

.dataRow {
    background-color: white;
}

.dataRow2 {
    background-color: #f1f2f6;
    margin: 0;
    padding: 0;
}

.dataRow3 {
    background-color: #f7f1e3;
    margin: 0;
    padding: 0;
}

th {
    color: #4b4b4b;
    /*color: #636e72;*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 10px;
    width: 138px;
    height: 50px;
    margin: 0;
    text-align:left;
}

#searchButton {
    height: 40px;
    width: 40px;
    margin-left: 2px;
    color: black;
}

#searchButton {
    height: 40px;
    width: 40px;
    margin-left: 2px;
    color: black;
}

.tr-mouseover {
    background-color: antiquewhite;
}

#upAndDownArea {
    float: right;
}

.upAnddown {
    margin: 2px;
    padding: 1px;
}