@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100;
    font: inherit;
    vertical-align: baseline;
    background-repeat: no-repeat;
}

body {
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea, option, button {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

body, input, textarea {
    font-family: PingFangSC-Light,helvetica neue,hiragino sans gb,tahoma,microsoft yahei ui,microsoft yahei,simsun,sans-serif,arial;
    color: #4c4c4c;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    -webkit-transition: color .2s,background-color .2s,border-color .2s;
    transition: color .2s,background-color .2s,border-color .2s;
}


input, textarea {
    color: #000;
}

.placeholder {
    color: #aaa;
    font-family: microsoft yahei,simsun,sans-serif,arial;
}

.mod-btn {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: color .2s,background-color .2s;
    transition: color .2s,background-color .2s;
}

    .mod-btn.blue {
        background-color: #2f86f6;
        color: #fff;
    }

        .mod-btn.blue > span {
            margin: 0 0 0 20px;
            padding: 0 20px 0 0;
        }

        .mod-btn.blue:hover {
            background-color: #4692f4;
        }

        .mod-btn.blue:active, .mod-btn.blue:focus {
            background-color: #1b6fdc;
        }

        .mod-btn.blue.disabled {
            background-color: #c8c8c8;
            box-shadow: 0 3px 0 #c8c8c8;
        }

   
.formblock input {
    width: 100%;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #9aa0a7;
    line-height: 36px;
    text-indent: 10px;
    font-size: 14px;
    background-color: #fff;
    -webkit-transition: border-color .2s,box-shadow .2s;
    transition: border-color .2s,box-shadow .2s;
}

    .formblock input:focus {
        border-color: #2f86f6 !important;
        box-shadow: 0 0 4px 0 #2f86f6 !important;
    }


textarea {
    padding-top: 10px;
    resize: none;
}

label {
    display: inline-block;
    vertical-align: middle;
    cursor: default;
}




.mod-form-block {
    margin-bottom: 15px;
}

    .mod-form-block > label {
        font-size: 14px;
        line-height: 32px;
    }


.main_form {
    width: 262px;
    margin: 0 auto;
    padding:100px;
}

