
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <table width=100% height=100%><tr><td><center><font face="times"><span style="font-size:100px;color:green;font-family:century"><a href="http://gantsoftware.com/" style="text-decoration:none;">祝张熙业和吴严同学合作愉快哦(*^_^*)</a></span></font></center></td></tr></table>
</body>
</html>
